#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  monica-app.service
BindsTo=monica.service
After=monica.service mariadb-app.service monica-redis.service monica-meilisearch.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
EnvironmentFile=-%S/state/app.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/monica-app.pid %t/monica-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/monica-app.pid \
    --cidfile %t/monica-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/monica.pod-id --replace -d --name  monica-app \
    --volume monica-data:/var/www/html/storage/:Z \
    --env-file=smarthost.env \
    --env=MONICA_* \
    --env=DB_* \
    --env DB_CONNECTION=mysql \
    --env DB_HOST=mariadb-app \
    --env DB_PORT=3306 \
    --env DB_DATABASE=monica \
    --env APP_ENV=production \
    --env APP_URL=${APP_URL} \
    --env APP_TRUSTED_PROXIES=* \
    --env APP_KEY=${APP_KEY} \
    --env LOCATION_IQ_API_KEY=${MONICA_LOCATION_IQ_API_KEY} \
    --env MAPBOX_API_KEY=${MONICA_MAPBOX_API_KEY} \
    --env MAPBOX_USERNAME=${MAPBOX_USERNAME} \
    --env UPLOADCARE_PUBLIC_KEY=${MONICA_UPLOADCARE_PUBLIC_KEY} \
    --env UPLOADCARE_PRIVATE_KEY=${MONICA_UPLOADCARE_PRIVATE_KEY} \
    --env MEILISEARCH_HOST=http://monica-meilisearch:7700 \
    --env MEILISEARCH_KEY=${MONICA_MEILI_MASTER_KEY} \
    --env CACHE_DRIVER=redis \
    --env SESSION_DRIVER=redis \
    --env QUEUE_CONNECTION=redis \
    --env REDIS_HOST=monica-redis \
    --env REDIS_PORT=6379 \
    --env REDIS_PASSWORD=${MONICA_REDIS_PASSWORD} \
    --env MAIL_MAILER=smtp \
    --env MAIL_HOST=${SMTP_HOST} \
    --env MAIL_PORT=${SMTP_PORT} \
    --env MAIL_USERNAME=${SMTP_USERNAME} \
    --env MAIL_PASSWORD=${SMTP_PASSWORD} \
    --env MAIL_ENCRYPTION=${SMTP_ENCRYPTION} \
    --env MAIL_FROM_ADDRESS=${SMTP_FROM} \
    --env MAIL_FROM_NAME=MONICA \
    ${MONICA_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/monica-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP monica-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/monica-app.ctr-id
PIDFile=%t/monica-app.pid
Type=forking

[Install]
WantedBy=default.target
