#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a monica instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman monica.service
Requires=mariadb-app.service monica-app.service monica-redis.service monica-meilisearch.service
Before=mariadb-app.service monica-app.service monica-redis.service monica-meilisearch.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/monica.pid %t/monica.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/monica.pid \
    --pod-id-file %t/monica.pod-id \
    --name monica \
    --publish 127.0.0.1:${TCP_PORT}:8080 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/monica.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/monica.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/monica.pod-id
PIDFile=%t/monica.pid
Type=forking

[Install]
WantedBy=default.target
